<div class="activity-board">
    <div class="navbar">
        <h2>Itinerario</h2>
        <button mat-flat-button (click)="newActivity()">
            <mat-icon aria-hidden="false" fontIcon="add"></mat-icon>Nueva actividad
        </button>
    </div>

    <div class="activity-board-item">
        <div class="example-container">
            <h2 class="activity-board-date">
                <mat-icon aria-hidden="false" fontIcon="unarchive"></mat-icon>
                <span>Sin fecha asignada</span>
                <small>({{ noDateAssigned.length }})</small>
            </h2>

            <div cdkDropList id="no-date-assigned" class="example-list" [cdkDropListData]="noDateAssigned"
                [cdkDropListConnectedTo]="['date-one', 'date-two', 'date-three']" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of noDateAssigned; let i = index" cdkDrag>
                    <img [src]="item.type ? activityImages[item.type] : activityImages['ACTIVITY']" alt="">
                    <span>{{item.title}}</span>
                    <button (click)="removeActivity(i, noDateAssigned)">Eliminar</button>
                </div>
            </div>
        </div>

        <div class="example-container">
            <h2 class="activity-board-date">
                <span>22 de enero</span>
                <small>({{ date1.length }})</small>
            </h2>

            <div cdkDropList id="date-one" class="example-list" [cdkDropListData]="date1"
                [cdkDropListConnectedTo]="['date-two', 'date-three']"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of date1; let i = index" cdkDrag>
                    <img [src]="item.type ? activityImages[item.type] : activityImages['ACTIVITY']" alt="">
                    <div>
                        <span>{{item.title}}</span>
                        <p>{{ item.startDate | date:'hh:mm' }} - {{ item.endDate | date:'hh:mm' }}</p>
                    </div>
                    <button (click)="removeActivity(i, date1)">Eliminar</button>
                </div>
            </div>
        </div>

        <div class="example-container">
            <h2 class="activity-board-date">
                <span>23 de enero</span>
                <small>({{ date2.length }})</small>
            </h2>

            <div cdkDropList id="date-two" class="example-list" [cdkDropListData]="date2"
                [cdkDropListConnectedTo]="['date-one', 'date-three']"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of date2; let i = index" cdkDrag>
                    <img [src]="item.type ? activityImages[item.type] : activityImages['ACTIVITY']" alt="">
                    <div>
                        <span>{{item.title}}</span>
                        <p>{{ item.startDate | date:'hh:mm' }} - {{ item.endDate | date:'hh:mm' }}</p>
                    </div>
                    <button (click)="removeActivity(i, date2)">Eliminar</button>
                </div>
            </div>
        </div>

        <div class="example-container">
            <h2 class="activity-board-date">
                <span>24 de enero</span>
                <small>({{ date3.length }})</small>
            </h2>

            <div cdkDropList id="date-three" class="example-list" [cdkDropListData]="date3"
                [cdkDropListConnectedTo]="['date-one', 'date-two']"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of date3; let i = index" cdkDrag>
                    <img [src]="item.type ? activityImages[item.type] : activityImages['ACTIVITY']" alt="">
                    <div>
                        <span>{{item.title}}</span>
                        <p>{{ item.startDate | date:'hh:mm' }} - {{ item.endDate | date:'hh:mm' }}</p>
                    </div>
                    <button (click)="removeActivity(i, date3)">Eliminar</button>
                </div>
            </div>
        </div>

    </div>
</div>