<div class="activity-board">
    <div class="navbar">
        <h2>Itinerario</h2>
        <button mat-flat-button (click)="newActivity()">
            <mat-icon aria-hidden="false" fontIcon="add"></mat-icon>Nueva actividad
        </button>
    </div>

    <div class="activity-board-item">
        <div class="example-container">
            <h2 class="activity-board-date">
                <mat-icon aria-hidden="false" fontIcon="unarchive"></mat-icon>
                <span>Sin fecha asignada</span>
                <small>({{ noDateAssigned.length }})</small>
            </h2>

            <div cdkDropList id="no-date-assigned" class="example-list" [cdkDropListData]="noDateAssigned"
                [cdkDropListConnectedTo]="['date-one', 'date-two', 'date-three']" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of noDateAssigned; let i = index" cdkDrag>
                    <img [src]="item.type ? activityImages[item.type] : activityImages['ACTIVITY']" alt="">
                    <span>{{item.title}}</span>
                    <div class="options-activity">
                        <button class="edit-activity" (click)="editActivity(i, noDateAssigned)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button (click)="removeActivity(i, noDateAssigned)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="example-container">
            <h2 class="activity-board-date">
                <span>12 de octubre</span>
                <small>({{ dateOne.length }})</small>
            </h2>

            <div cdkDropList id="date-one" class="example-list" [cdkDropListData]="dateOne"
                [cdkDropListConnectedTo]="['no-date-assigned', 'date-two', 'date-three']"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of dateOne; let i = index" cdkDrag>
                    <img [src]="item.type ? activityImages[item.type] : activityImages['ACTIVITY']" alt="">
                    <div>
                        <span>{{item.title}}</span>
                        <p>{{ item.startDate | date: 'HH:mm' }} - {{ item.endDate | date: 'HH:mm' }}</p>
                    </div>
                    <div class="options-activity">
                        <button class="edit-activity" (click)="editActivity(i, dateOne)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button (click)="removeActivity(i, dateOne)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="example-container">
            <h2 class="activity-board-date">
                <span>13 de octubre</span>
                <small>({{ dateTwo.length }})</small>
            </h2>

            <div cdkDropList id="date-two" class="example-list" [cdkDropListData]="dateTwo"
                [cdkDropListConnectedTo]="['no-date-assigned', 'date-one', 'date-three']"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of dateTwo; let i = index" cdkDrag>
                    <img [src]="item.type ? activityImages[item.type] : activityImages['ACTIVITY']" alt="">
                    <div>
                        <span>{{item.title}}</span>
                        <p>{{ item.startDate | date: 'HH:mm' }} - {{ item.endDate | date: 'HH:mm' }}</p>
                    </div>
                    <div class="options-activity">
                        <button class="edit-activity" (click)="editActivity(i, dateTwo)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button (click)="removeActivity(i, dateTwo)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="example-container">
            <h2 class="activity-board-date">
                <span>14 de octubre</span>
                <small>({{ dateThree.length }})</small>
            </h2>

            <div cdkDropList id="date-three" class="example-list" [cdkDropListData]="dateThree"
                [cdkDropListConnectedTo]="['no-date-assigned', 'date-one', 'date-two']"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of dateThree; let i = index" cdkDrag>
                    <img [src]="item.type ? activityImages[item.type] : activityImages['ACTIVITY']" alt="">
                    <div>
                        <span>{{item.title}}</span>
                        <p>{{ item.startDate | date: 'HH:mm' }} - {{ item.endDate | date: 'HH:mm' }}</p>
                    </div>
                    <div class="options-activity">
                        <button class="edit-activity" (click)="editActivity(i, dateThree)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button (click)="removeActivity(i, dateThree)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>